<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>[JP] CS1.6 Server List</title>
        <meta name="description" content="counter strike 1.6">
        <meta name="keywords" content="fps conter strike cs1.6 server list">
        <link rel="stylesheet" href="/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/css/prettyPopin.css" >
        <link rel="stylesheet" href="/stylesheet.css" >
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="/javascript/jquery.tablesorter.min.js"></script>
        <script src="/javascript/jquery.prettyPopin.js"></script>
        <!-- <script src="/application.js"></script> -->
        <script src="/javascript/application.js"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <header class="page-header">
                <h1>[JP] CS1.6 Server List <small>This list is returned by the Steam Master server.</small></h1>
                <a href="/reload"><button id="reload" class="btn">Reload List</button></a>
            </header>
            <% if !@server_list.nil? %>
                <table class="zebra-striped" id="sortTable">
                    <thead>
                        <tr>
                            <th style="width:50px;">Pass</th>
                            <th class="blue">Server Name</th>
                            <th style="width:100px;" class="green">Server Status</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @server_list.each do |s| %>
                        <tr>
                          <% if s.password == 1 %>
                            <td><p class="lock-image"><%= s.password %></p></td>
                            <td class="lock"><%= s.server_name %></td>
                          <% else %>
                            <td><p class="open-image"><%= s.password %></p></td>
                            <td class="open"><%= s.server_name %></td>
                          <% end %>
                          <td class="info">
                              <a href="/info/<%= s.host %>/<%= s.port %>" rel="prettyPopin">
                                  <img src="images/info.gif">
                              </a>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
              <% else %>
                <h2>There was no data.</h2>
            <% end %>
        </div>
    </body>
</html>

